@import "../../App.scss";

.header {
    background-color: orangered;

    .header-cnt-top {
        border-bottom: 1px solid orange;
    }


    @media screen and (max-width: 992px) {
        .header-cnt-top {
            flex-direction: column;

            .header-cnt-top-l {
                margin-bottom: 4px;
            }
        }
    }
}